@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@charset 'utf-8';

:root {
	--animate-delay: 0.5s;
}
html, body {
	font-family: 'Roboto', 'Noto Sans TC', sans-serif;
	font-weight: 300;
	font-size: 14px;
	overflow-x: hidden;
	background: #f39e44;
	position: relative;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	height: 100%;
}
body {
	padding-right: 0px !important; 
	min-height: 100vh;
}
*.modal-open {
	padding-right: 0 !important;
}
.default-top {
	background-color: transparent;
}

@media screen and (min-width: 1400px){
	

}

.btn-detail {
	position: absolute;
	bottom: 0;
	right: 0;
}
.btn-orange {
	background-color: #eb7919;
	color: #fff;
}
.btn-orange:hover {
	background-color: #f39e44;
	color: #fff;
}
.bg-wrapper {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.bg {
	position: absolute;
	top: 0px;
}

.bg-orange {
	background-color: #f39e44;
}
.bg-dark-orange {
	background-color: #ff4000;
}


.logo {
	/*width: 60%;*/
	position: relative;
	/*margin: 0 auto;*/
}

.card-111:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -20px;
	left: 50%;
	margin-left: -20px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 20px 0 20px;
	border-color: #ffffff transparent transparent transparent;
}

.pillar-left-wrapper {
	width: 120px;
	height: 100%;
	position: absolute;
	top: 0;
	left: -120px;
	overflow: hidden;
	z-index: 3;
}
.pillar-right-wrapper {
	width: 120px;
	height: 100%;
	position: absolute;
	top: 0;
	right: -120px;
	overflow: hidden;
	z-index: 3;
}

.pillar-left {
	width: 120px;
	height: 1200px;
	left: 0;
	bottom: -1000px;
	background: url(../images/pillar-left.png) no-repeat;
	position: absolute;
}
.pillar-right {
	width: 120px;
	height: 1200px;
	left: 0;
	bottom: -1000px;
	background: url(../images/pillar-right.png) no-repeat;
	position: absolute;
}
.pillar-left:before {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 60px;
	height: calc(100% - 150px);
	background-color: #fcbe6c;
}
.pillar-left:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 60px;
	height: calc(100% - 150px);
	background-color: #ffd39f;
}
.pillar-right:before {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 60px;
	height: calc(100% - 150px);
	background-color: #ffd39f;
}
.pillar-right:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 60px;
	height: calc(100% - 150px);
	background-color: #fcbe6c;
}

/*.pillar-left-surface {
	width: 240px;
	height: 100px;
	position: absolute;
	top: -50px;
	left: 0;
	background: url(../images/pillar-left.png) no-repeat top center;
	z-index: 3;
}
.pillar-right-surface {
	width: 240px;
	height: 100px;
	position: absolute;
	top: -50px;
	left: 0;
	background: url(../images/pillar-right.png) no-repeat top center;
	z-index: 3;
}*/


.item-brand > a {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.item-name > a {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
.item-price > span {
	font-size: 1em;
}
.page-wrapper {
	width: 100%;
	margin: 0 auto;
	position: relative;
	min-height: calc(100vh - 100px);
	z-index: 0;
}
.header-wrapper {
	/*background: url(../images/main-mobile.jpg) no-repeat;*/
	background-size: 100%;
	/*padding-top: 100%;*/ /* 手機版 (大圖的高/大圖的寬) */
	position: relative;
}
.content-wrapper {
	/*background: url(../images/bg-mobile.jpg) no-repeat;*/
	background-size: 100%;
	position: relative;
}

.coming-soon {
	font-size: 1.4em;
}
.scrollToTop {
	position: fixed;
	width: 40px;
	height: 40px;
	background: #383838;
	right: 5px;
	bottom: 5px;
	z-index: 999;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.scrollToTop .fas {
	font-size: 24px;
	color: #fff;
	line-height: 1;
	height: 1em;
}


@media screen and (min-width: 1200px) {
	html, body {
		font-size: 16px;
		/*background-image: url(../images/bg.jpg);
		background-size: 100% auto;
		background-position: center -200px;
		background-repeat: no-repeat;
		background-attachment: fixed;*/
	}

	
	
	.bg {
		position: absolute;
		top: -100px;
	}
	.default-top {
		background-color: transparent;
		transition: all .5s ease;
	}
	.default-top:hover {
		background-color: #383838;
	}
	.default-top-inner {
		min-width: 1200px;
		width: 100%;
	}
	.logo {
		padding-top: 25vh;
		
	}
	.logo img {
		pointer-events: none;
		user-select: none;
	}

	.host-wrapper {
		position: absolute;
		width: 100vw;
		height: calc(80vh - 60px);
		height: 80vh;
		margin-top: 8vh;
	}
	.host-yy {
		position: absolute;
		/*bottom: 1vh;*/
		top: -5vh;
		width: 24vw;
		right: 0vw;
		pointer-events: none;
		user-select: none;
	}
	.host-fang {
		position: absolute;
		/*bottom: 9vh;*/
		top: -10vh;
		width: 20vw;
		left: 50%;
		margin-left: -10vw;
		pointer-events: none;
		user-select: none;
	}
	.host-may {
		position: absolute;
		/*bottom: 1vh;*/
		top: -5vh;
		left: 0vw;
		width: 24vw;
		pointer-events: none;
		user-select: none;
	}
	.promo-desktop {
		width: 25vw;
		position: absolute;
		left: 50%;
		margin-left: 4vw;
		top: 3vw;
	}
	.item {
		transition: all 0.1s ease 0s;
	}
	.item:hover {
		transform: translateY(-1%);
	}
	.item-brand > a {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.item-name > a {
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.item-price > span {
		font-size: 1.5em;
	}
	.scrollToTop {
		right: 10px;
		bottom: 10px;
	}
	.page-wrapper {
		min-width: 1200px;
		width: 70vw;
		min-height: calc(100vh - 120px);
		/*background: url(../images/main-pc.jpg) no-repeat;*/
	}
	/*.page-wrapper:before {
		content: '';
		display: block;
		position: absolute;
		width: 15vw;
		height: 100%;
		background-color: #f39e44;
		top: 0;
		left: -15vw;
	}
	.page-wrapper:after {
		content: '';
		display: block;
		position: absolute;
		width: 15vw;
		height: 100%;
		background-color: #f39e44;
		top: 0;
		right: -15vw;
	}*/

	.header-wrapper {
		background-image: none;
		background-repeat: no-repeat;
		background-size: 100%;
		/*padding-top: calc(100vh - 150px);*/
	}
	.item-header {
		background-color: #fac572;
		height: 50px;
		width: 100%;
		position: relative;
	}
	.item-header:before {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		transform: translateX(-100%);
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 25px 60px 25px 0;
		border-color: transparent #fac572 transparent transparent;
		z-index: 2;
	}
	.item-header:after {
		content: '';
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		transform: translateX(100%);
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 25px 0 25px 60px;
		border-color: transparent transparent transparent #fac572;
		z-index: 2;
	}

	.content-wrapper:before {
		content: '';
		display: block;
		position: absolute;
		/*width: 680px;*/
		/*width: calc(50vw - 600px);*/
		/*width: 10vw;*/
		width: 60px;
		/*height: 100%;*/
		height: calc(100% - 25px);
		/*background: url(../images/left.jpg) no-repeat;*/
		/*background-color: rgba(255, 187, 195, 0.7);*/
		background-color: #eb7919;
		bottom: 0;
		left: 0;
		/*right: 1200px;*/
		transform: translateX(-100%);
		z-index: 0;
	}
	.content-wrapper:after {
		content: '';
		display: block;
		position: absolute;
		/*width: 680px;*/
		/*width: calc(50vw - 600px);*/
		/*width: 10vw;*/
		width: 60px;
		/*height: 100%;*/
		height: calc(100% - 25px);
		/*background: url(../images/right.jpg) no-repeat;*/
		/*background-color: rgba(255, 187, 195, 0.7);*/
		background-color: #eb7919;
		bottom: 0;
		/*left: 1200px;*/
		right: 0;
		transform: translateX(100%);
		z-index: 1;
	}
}
@media screen and (min-width: 1600px) {
	.promo-desktop {
		width: 20vw;
		position: absolute;
		left: 50%;
		margin-left: 6vw;
		top: 5vw;
	}
}
@media screen and (min-width: 1920px) {
	.promo-desktop {
		width: 17vw;
		position: absolute;
		left: 50%;
		margin-left: 8vw;
		top: 4vw;
	}
	
}
@media screen and (min-width: 2560px) {
	.card-text {
		font-size: 1.25rem;
	}
}

@media all and (-ms-high-contrast:none)
{
 
 *::-ms-backdrop, .d-flex { display: block!important; } /* IE11 */
 *::-ms-backdrop, .item-name {
 	height: 2.5rem;
 	overflow: hidden;
 }

}

/*Turn off animate.css on mobile device*/
@media only screen and (max-width : 1200px) {
	.animate__animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}