@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@charset 'utf-8';

:root {
	--animate-delay: 0.5s;
}
html, body {

	font-family: 'Roboto', 'Noto Sans TC', sans-serif;
	/*position: relative;*/
	/*image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;*/
	/*max-width: 2560px;*/
	/*background-color: #350306;*/
	/*overflow-x: hidden;*/
}

a:link,
a:visited,
a:focus,
a:hover,
a:active {
	text-decoration: none;
	color: #fff;
}
a:focus-visible {
	outline: none;
	box-shadow: none;
}

.lazy-load{
  display: block;
  object-fit: cover;
  background-image: url(../images/Eclipse-1s-200px-Gray.png);
  background-color: #350306;
  
  background-size: auto auto;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all .2s linear;
}
.btn-group-blackfriday {
	
	width: 100%;
	position: relative;
	max-width: 720px;

	/*transform: translateX(-90%);*/
}
.btn-group-blackfriday .btn {
	border: 1px solid #eebe5f;
	border-radius: 0;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}
#swpBlackFriday {
	width: 100%;
	border: 1px solid #eebe5f;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(5px);
}

@media (min-width: 1200px) {
	.picture-blackfriday {
		border-bottom: 5px solid #d39555;
	}
	.btn-group-blackfriday {
		bottom: 6%;
		left: 50%;
		width: 25%;
		transform: translateX(-90%);
		position: absolute;
	}

	.btn-group-blackfriday .btn {
		border: 1px solid #eebe5f;
		border-radius: 0;
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
	}
	#swpBlackFriday {
		width: 100%;
		border: 1px solid #eebe5f;
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(5px);
	}	
}


.side-menu-title {
	background-color: rgba(122, 24, 29, 0.95); 
	color: #e0af6d; 
	border-bottom: 1px dashed #e0af6d;
}

body {
	/*padding-bottom: 40px;*/
	background-color: #350306;

	background-image: url(../images/bg-glittering.jpg);
	background-position: bottom 0px center;
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	/*background: linear-gradient(-45deg, #350306, #89080f, #350306, #89080f);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;*/
}



.bg-static {
	display: none;
}

@media (max-width: 768px) {
	body {
		background-image: url(../images/m/bg-glittering.jpg);
	}
	.bg-static {
		background-image: url(../images/m/bg-glittering.jpg);
		background-size: 100%;
		background-attachment: fixed;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: block;
		z-index: 0;
	}
}

body.blackfriday {
	background-color: #000;
	background-image: none;
}
body.blackfriday .bg-static {
	background-image: none;
}
body.blackfriday .lazy-load {
	background-color: #000;
}
body.blackfriday .item-inner {
	background-color: rgba(64, 64, 64, 0.75);
}
body.blackfriday .side-menu-title {
	background-color: rgba(32, 32, 32, 0.95); 
	color: #e0af6d; 
	border-bottom: 1px dashed #e0af6d;
}

@media (min-width: 1400px) {
	body {
		/*padding-bottom: 0;*/
	}
	.fs-xl-5 {
		font-size: 1.25rem!important;
	}
}

body.pre-event {
	background-color: #08102c;
	background-image: url(../images/bg-pre.jpg);
	background-position: top center;
	background-attachment: fixed;
}

.btn-event {
	left: 0px;
	bottom: 0px;
	position: fixed;
	width: 100%;
	height: 40px;
	z-index: 999;
	background-color: #350306;
	display: flex;
	align-items: center;
	border: 1px solid #d49655;
}

.btn-event .btn {
	color: #ffd09f;
	font-size: 1rem;
	line-height: 1rem;
}

canvas {
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
	pointer-events: none;
	user-select: none;
}



.us-none {
	user-select: none;
}
::selection {
	color: #fff;
	background: #000;
}
#topNav {
	position: relative!important;
	top: initial!important;
	/*background-color: transparent!important;
	display: none!important;*/
}
footer {
	/*display: none!important;*/
}

*.modal-open {
	/*padding-right: 0 !important;*/
}
#app {
	/*min-height: calc(100vh - 100px);*/
	position: relative;
}

.landing-main {
	margin-bottom: -10px;
	/*margin-bottom: -50px;*/
}

@media (min-width: 1920px) {
	.landing-main {
		margin-bottom: -50px;
		/*margin-bottom: -150px;*/
	}	
}
.landing_01,
.landing_02 {
	filter : saturate(120%) brightness(105%);
	/*animation: test 10s infinite;
	animation-delay: 2s;*/
}

.coins {
	position: fixed;
	top: 5vh;
	right: 5vw;
	z-index: 100;
	width: 10vw;
}





@keyframes test {
	0% {
		filter: saturate(135%) brightness(100%);
	}
	9% {
		filter: saturate(135%) brightness(100%);
	}
	10% {
		filter: saturate(135%) brightness(120%);
	}
	11% {
		filter: saturate(135%) brightness(100%);
	}
	12% {
		filter: saturate(135%) brightness(120%);
	}
	13% {
		filter: saturate(135%) brightness(100%);
	}
	14% {
		filter: saturate(135%) brightness(120%);
	}
	15% {
		filter: saturate(135%) brightness(100%);
	}
	100% {
		filter: saturate(135%) brightness(100%);
	}
}




.section-inner .row-cols-1 .item-brand,
.section-inner .row-cols-1 .item-name {
	font-size: 1.25rem;
}

.section-wrapper {
	z-index: 6;
}



#sectionA,
#sectionB,
#sectionC,
#sectionD {
	/*margin-bottom: 20px;*/
}




.main {
	user-select: none;
}

button[id^="pills-"] {
	

}


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: transparent;
}
.nav-link.disabled {
	opacity: 0.25;
}

#pills-1106-tab {
	background-image: url(../images/m/nav-1106.png);
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
#pills-1107-tab {
	background-image: url(../images/m/nav-1107.png);
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
#pills-1108-tab {
	background-image: url(../images/m/nav-1108.png);
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
#pills-1109-tab {
	background-image: url(../images/m/nav-1109.png);
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
#pills-1110-tab {
	background-image: url(../images/m/nav-1110.png);
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
#pills-1111-tab {
	background-image: url(../images/m/nav-1111.png);
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
#pills-1112-tab {
	background-image: url(../images/m/nav-1112.png);
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
#pills-1123-tab {
	background-image: url(../images/m/nav-1123.png);
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
#pills-1124-tab {
	background-image: url(../images/m/nav-1124.png);
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
#pills-1125-tab {
	background-image: url(../images/m/nav-1125.png);
	background-color: transparent;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

#pills-1106-tab.active {
	background-image: url(../images/m/nav-1106-active.png);
}
#pills-1107-tab.active {
	background-image: url(../images/m/nav-1107-active.png);
}
#pills-1108-tab.active {
	background-image: url(../images/m/nav-1108-active.png);
}
#pills-1109-tab.active {
	background-image: url(../images/m/nav-1109-active.png);
}
#pills-1110-tab.active {
	background-image: url(../images/m/nav-1110-active.png);
}
#pills-1111-tab.active {
	background-image: url(../images/m/nav-1111-active.png);
}
#pills-1112-tab.active {
	background-image: url(../images/m/nav-1112-active.png);
}
#pills-1123-tab.active {
	background-image: url(../images/m/nav-1123-active.png);
}
#pills-1124-tab.active {
	background-image: url(../images/m/nav-1124-active.png);
}
#pills-1125-tab.active {
	background-image: url(../images/m/nav-1125-active.png);
}




.btn-chevron {
	font-size: 64px;
	text-shadow: 0 0 4px #000;
	transform: translateY(32px);
}





.section-a:before,
.section-c:before,
.section-e:before {
	content: '';
	display: block;
	position: absolute;
	width: 200%;
	height: 100%;
	top: 0;
	left: 0;
	background-image: url(../images/bg-section-right.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top left;
}
.section-b:before,
.section-d:before {
	content: '';
	display: block;
	position: absolute;
	width: 200%;
	height: 100%;
	top: 0;
	right: 0;
	background-image: url(../images/bg-section-left.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top right;
}



@media (max-width: 1200px) {
	.section-a:before,
	.section-b:before,
	.section-c:before,
	.section-d:before,
	.section-e:before {
		background-image: none;
	}
	
	

}

.btn-dark {
	background: #292929;
	color: #fff;
}

.container-item-app {
	/*background: url(../images/bg2.jpg);*/
	position: relative;
}

.container-oneday:before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translateX(-50%) translateY(-20%);
	background-image: url(../images/light-oneday.png);
	background-size: 100%;
	background-position: top center;
	background-repeat: no-repeat;
	z-index: 0;
}
.container-oneday:after {
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translateX(-50%) translateY(40%);
	background-image: url(../images/stage-oneday.png?v2);
	background-size: 100%;
	background-position: bottom center;
	background-repeat: no-repeat;
}
.container-oneday {
		margin-bottom: 200px;
}
@media (max-width: 1920px) {
	.container-oneday:after {
		transform: translateX(-50%) translateY(33%);
		
	}
	.container-oneday {
		margin-bottom: 200px;
	}
}
@media (max-width: 1280px) {
	.container-oneday:after {
		transform: translateX(-50%) translateY(0%);
		background-image: none;
	}
	.container-oneday {
		margin-bottom: 0px;
	}
}
@media (max-width: 1024px) {
	.container-oneday:after {
		transform: translateX(-50%) translateY(0%);
		background-image: none;
	}
	.container-oneday {
		margin-bottom: 0px;
	}
}

img[src="/html/images/act/2022/11/11/images/img-error.png"] {
	background-color: #2b0205;
}


.container-goldrush {
	margin-bottom: 40px;
	/*background-image: url(../images/section-goldrush.png);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;*/
}

.container-goldrush .col-12 {
	background-color: rgba(34, 3, 5, 0.75);
	border: 5px solid #6f441c;
	border-top-left-radius: 5rem;
	border-bottom-right-radius: 5rem;
	border-top-right-radius: 5rem;
	border-bottom-left-radius: 5rem;
}

#goldRushNav {
	background-color: #350306;
	box-shadow: 0 5px 15px #350306;
}

#blackFridayNav.isSticky {
	/*background-color: #000;
	box-shadow: 0 5px 15px #000;*/
	background-color: rgba(0, 0, 0, 0.75);
	backdrop-filter: blur(5px);
}

#goldRush {
	background-image: url(../images/bg-goldrush-left.png), url(../images/bg-goldrush-right.png);
	background-repeat: no-repeat, no-repeat;
	background-size: contain, contain;
	background-position: bottom left, top right;
}

#blackFriday {
	background-color: transparent;
	
}

#blackFriday .item-inner {
	background-color: rgba(0, 0, 0, 0.75);
	backdrop-filter: blur(5px);
	border: 1px solid goldenrod;
}


@media (max-width: 768px) {
	.container-goldrush {
		margin-bottom: 20px;
		/*background-image: url(../images/m/section-goldrush.png);*/
		
	}
	.container-goldrush .col-12 {
		background-color: rgba(34, 3, 5, 0.75);
		border: 3px solid #6f441c;
		border-top-left-radius: 1rem;
		border-bottom-right-radius: 1rem;
		border-top-right-radius: 1rem;
		border-bottom-left-radius: 1rem;
	}
	#goldRush {
		background-image: none;
	}
}

#goldRush .item-body {
	background-image: url(../images/bg-goldrush-item.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

#swpGroup {
	top: 53%;
	left: 0;
}
#swpInner {
	width: 51.5625%;
	overflow: hidden;
}
#swpLeft {
	width: 41.287%;
}
#swpRight {
	width: 58.712%;
}



.swiper-custom {
	width: 100%;
	overflow: hidden;
	/*max-width: 1200px;*/
}
.swiper-custom .swiper-slide {
	padding: 2.5rem 0.5rem;
}

@media (max-width: 768px) {
	.swiper-custom .swiper-slide {
		padding: 0rem 0.25rem 1rem;
	}	
}



.swiper-custom .swiper-slide img {
	border-radius: 0rem;
	box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.75);
	transition: all .2s linear;
}
.swiper-custom .swiper-slide img:hover {
	transform: scale(1.02);
	position: relative;
	z-index: 9999;
}

.swiper-custom .swiper-wrapper {
	transition-timing-function: linear;
}

@media (max-width: 991px) {
	#swpGroup {
		top: 53.5%;
		left: 0;
	}
	#swpInner {
		width: 99.5%;
	}
	#swpLeft {
		width: 41.287%;
	}
	#swpRight {
		width: 58.712%;
	}
}





.btn-go-now {
	background-color: #d3d3be;
	color: #555536;
	font-size: 1.25rem;
}

.custom-text {
	color: #a98044;
	/*font-size: 20px;*/
	font-weight: 300;
}
.custom-text li {
	margin-bottom: 1rem;
}

@media (min-width: 1200px) {
	.custom-text {
		color: #a98044;
		font-size: 1.25rem;
		font-weight: 100;
	}
	
}

.event-rule {
	font-size: 1rem;
	color: #70734e;
	font-weight: 300;
}
@media (min-width: 1200px) {
	.event-rule {
		font-size: 1.25rem;
		font-weight: 100;
	}	
}
.countdown-number {
	color: #f7f3d5;
	font-family: 'Century Gothic';
	/*font-weight: bold;*/
	font-size: 24px;
}
#countDownTimer {
	background-image: url(../images/bg-countdown.png);
	background-position: top center;
	background-size: contain;
	background-repeat: no-repeat;
	color: #f7f3d5;
}
.side-menu-wrapper-left,
.side-menu-wrapper-right {
	display: none;
}

.tablet-fix {
	flex-basis: 100%;
	flex-shrink: 0;
}
@media (min-width: 768px) {
	.tablet-fix {
		flex-basis: 48%!important;
		padding: 5px!important;
	}
}
@media (min-width: 1280px) {
	.tablet-fix {

		max-width: 354px;
		padding: 0!important;
	}
	.tablet-fix img {
		width: 100%;
	}
}

@media (min-width: 1400px) {
	.tablet-fix {

		max-width: 354px;
		padding: 0!important;
	}
	.tablet-fix img {
		width: 100%;
	}
}



/*.navbar-observer {
	height: 1px;
	top: -1px;
}*/


.btn-nav-group {
	position: sticky;
	/*top: 0px;*/
	top: 0px;
	padding-top: 1px;
	/*background: url(../images/bg-repeat.jpg);*/
	z-index: 5;
	/*overflow: scroll;*/
	width: 100%;
	flex-wrap: nowrap;
	background-color: #350306;
	box-shadow: 0 5px 15px #350306;
	/*border-top: 3px solid #732a17;
	border-bottom: 3px solid #732a17;*/
}

body.blackfriday .btn-nav-group {
	background-color: #000;
}
.btn-nav-group.isSticky {
	
}
.navbar-inner {
	max-width: 800px;
	/*background-color: #350306;*/
}


#navBar:before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	background: rgb(53,3,6);
	background: linear-gradient(270deg, rgba(53,3,6,1) 0%, rgba(213,151,86,1) 50%, rgba(53,3,6,1) 100%);
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	transition: all .5s ease-in;
	z-index: 5;
}
#navBar:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	background: rgb(53,3,6);
	background: linear-gradient(270deg, rgba(53,3,6,1) 0%, rgba(213,151,86,1) 50%, rgba(53,3,6,1) 100%);
	bottom: 0;
	left: 0;
}

.nav-pills:before {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	background: rgb(53,3,6);
	background: linear-gradient(270deg, rgba(53,3,6,1) 0%, rgba(213,151,86,1) 50%, rgba(53,3,6,1) 100%);
	top: 0px;
	left: 50%;
	transform: translateX(-50%);
	transition: all .5s ease-in;
}
.nav-pills:after {
	content: '';
	display: block;
	position: absolute;
	width: 100%;
	height: 3px;
	background: rgb(53,3,6);
	background: linear-gradient(270deg, rgba(53,3,6,1) 0%, rgba(213,151,86,1) 50%, rgba(53,3,6,1) 100%);
	bottom: 0;
	left: 0;
}

#blackFridayNav .nav-pills:before,
#blackFridayNav .nav-pills:after {
	display: none;
}


#Btn1.active {
	background: rgb(53,3,6);
	/*background: linear-gradient(90deg, rgba(53,3,6,1) 0%, rgba(200,164,71,1) 100%);*/
	background: linear-gradient(90deg, rgba(53,3,6,1) 0%, rgba(213,151,86,1) 100%);
}
#Btn2.active, #Btn3.active, #Btn4.active {
	background-color: #d59756;
}
#Btn5.active {
	background: rgb(53,3,6);
	/*background: linear-gradient(270deg, rgba(53,3,6,1) 0%, rgba(200,164,71,1) 100%);*/
	background: linear-gradient(270deg, rgba(53,3,6,1) 0%, rgba(213,151,86,1) 100%);
}



.btn {
	box-shadow: none!important;
}

/*.btn-nav.active img {
	filter: brightness(100%) invert(100%) contrast(400%);
}

.btn-nav.active {
	background-image: url(../images/m/btn-hover.png);
	background-size: 100%;
	background-repeat: no-repeat;
}*/

@media (min-width: 768px) {
	
}

.content-wrapper {
	/*background-image: url(../images/bg-repeat-bottom.png);*/
	background-position: bottom 10px center;
	background-repeat: repeat-x;
}

.cf-container {
	position: relative;
	width: 100%;
	padding: 1.5rem;
	background-color: #002842;
	/*left: 80px;
	bottom: 20px;*/
}



.swiper-pagination-bullet {
	width: 8px;
	height: 8px;
	display: inline-block;
	border-radius: 50%;
	background: transparent;
	opacity: 1;
	margin: 0 4px;
	border: 1px solid #a98044;
}
.swiper-pagination-bullet-active {
	opacity: 1;
	background: #a98044;
}

.bg-start {
	width: calc(50% - 570px);
	height: 600px;
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../images/bg-before.jpg);
	background-repeat: no-repeat;
	background-position: 100% 0%;
	display: none;
	user-select: none;
	pointer-events: none;
}

.bg-end {
	width: calc(50% - 570px);
	height: 600px;
	position: absolute;
	top: 0;
	right: 0;
	background-image: url(../images/bg-after.jpg);
	background-repeat: no-repeat;
	background-position: 0% 0%;
	display: none;
	user-select: none;
	pointer-events: none;
}
@media (min-width: 1400px) {
	.bg-start {
		width: calc(50% - 660px);
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-image: url(../images/bg-before.jpg);
		background-repeat: no-repeat;
		background-position: 100% 0%;
		display: block;
	}
	
	.bg-end {
		width: calc(50% - 660px);
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		background-image: url(../images/bg-after.jpg);
		background-repeat: repeat-x;
		background-position: 0% 0%;
		display: block;
	}
}


.page-wrapper {
	width: 100%;
	margin: 0 auto;
	position: relative;
	/*min-height: calc(100vh - 100px);*/
	z-index: 0;
}


.header-wrapper {
	width: 100%;
	/*max-width: 1200px;*/
	position: relative;
	margin: 0 auto;
}


.section-goldrush {
	
}

/*.item:hover {
	transition: all .2s ease-in;
	transform: translateY(-5px) scale(1.1);
}*/

.item-inner {
	/*box-shadow: 2px 2px 2px #d3a0a3;*/
	background: #881d07e6;
	color: #fff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

#goldRush .item-inner {
	box-shadow: none;
}

body.pre-event .item-inner {
	background: #693471;
}

body.pre-event canvas#world {
	display: none!important;
}
.section-goldrush .item-inner {
	background: transparent;
}
.item-name {
	font-size: 14px;
	line-height: 20px;
	/*color: #fbffe9;*/
}
.item-name span,
.item-brand span,
.item-name a,
.item-brand a {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	word-break: break-all;
	height: 1.25rem;
	/*color: #fbffe9;*/
}
.item-brand {
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	/*color: #fbffe9;*/
}

.item-price {
	font-size: 24px;

	/*font-weight: bold;*/
	color: #f5c557;
	font-family: 'Century Gothic', 'Noto Sans TC', serif;
	letter-spacing: -1px;
}

#goldRush .item-price {
	font-size: 1rem;
}

@media (max-width: 768px) {
	.item-price {
		font-size: 1rem;
	}
}

@media (min-width: 1200px) {
	#goldRush .item-price {
		font-size: 1.75rem;
	}

}



.item-price.dollar-sign:before {
	color: #f5c557;
}

.item-price .price-type {
	color: #f5c557;
	font-size: 1.25rem;
	font-weight: normal;
}
.item-price .dollar-sign {
	color: #f5c557;
	font-size: 1.25rem;
}

@media (max-width: 768px) {
	.item-price .price-type,
	.item-price .dollar-sign {
	
		font-size: 1rem;
	}
}


.coming-soon {
	font-size: 1.25rem;
}

.scrollToTop {
	position: fixed;
	width: 40px;
	height: 40px;
	/*background: #3f3c42;*/
	right: 0px;
	bottom: 0px;
	z-index: 999;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: #350306;
	border: 1px solid #d49655;
}
.scrollToTop .fas {
	font-size: 24px;
	color: #fff;
	line-height: 1;
	height: 1em;
}

ol.list-group {
    list-style: decimal inside;
}
ul.list-group {
    list-style: square inside;
}

.list-group-item {
    display: list-item;
}

.bonus {
	background: #946d31;
	color: #fff;
	font-family: 'Century Gothic', 'Noto Sans TC', serif;
	font-size: 14px;
}
.btn-detail {
	position: absolute;
	top: 170px;
	right: 60px;

	top: 28.5%;
	right: 14.49%;
	z-index: 11;
}
@media (max-width: 374px) {
	.btn-detail {
		
		top: 28%;
		right: 12%;
		
	}
}

.btn-detail .btn {
	font-size: 10px;
	padding: 0.25rem 0.5rem;
}
.p-5px {
	padding: 5px;
}
.item {
	z-index: 2;
}
.shadow-custom {
	/*box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);*/
	box-shadow: 0 .5rem .5rem rgba(0,0,0,.25) !important
}
.section-observer {
	height: 1px;
}
.section-bg {

/*	border: 2px solid #fad193;
	background-color: #ff7800;
	position: relative;*/
}

.section-bg:before {
	content: '';
	display: none;
}
.section-top:before {
	content: '';
	display: none;
}
.section-top:after {
	content: '';
	display: none;
}
.section-bottom:before {
	content: '';
	display: none;
}
.section-bottom:after {
	content: '';
	display: none;
}

/*.section-oneday .section-body {
	background: rgb(255,255,255);
	background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(251,247,240,1) 3%, rgba(243,221,184,1) 100%);
}
.section-oneday .item-inner {
	border: 1px solid #fde9c4;
}


.wave-2 .section-inner {
	background: #d8b578;
}*/



@keyframes rotate-cw {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotate-ccw {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

iframe {
	border-radius: 16px;
	overflow: hidden;
}


@media (min-width: 768px) {
	iframe {
		border-radius: 25px;
		overflow: hidden;
	}

	@keyframes rotate-cw {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	@keyframes rotate-ccw {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(-360deg);
		}
	}

	.btn-wrapper {
		position: absolute;
		top: 67.2%;
		left: 3.03%;
		width: 93.852%;
		height: 25.4%;
		background: none;
	}
	
	.swiper-pagination {
		width: 100%;
		padding: .5rem 0 .5rem;
		position: relative;
	}
	
	.promo-slider {
		position: absolute;		
		height: auto;
		top: 67.2%;
		left: 38.35%;
		width: 23.196%;
		padding: 0;
		background: none;
	}
	.promo-slider img {
		border: 0px solid #79a57d;
	}
	/*.section-oneday .section-body {
		padding-top: 20px;
		margin-top: -80px;
	}*/
}

@media screen and (min-width: 1200px) {
	
	#sectionS .item-inner {
		background-image: url(../images/item-bg.png);
		background-repeat: no-repeat;
		background-position: left bottom;
	}

	.falling-leaves {
	  position: fixed;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  width: 100%;
	  pointer-events: none;
	  z-index: 9999;
	}

	.leaf-scene {
	  position: absolute;
	  top: 0;
	  left: 0;
	  bottom: 0;
	  width: 100%;
	  transform-style: preserve-3d;
	}
	.countdown-number {
		font-size: 40px;
	}
	/*.section-oneday .section-body {
		padding-top: 20px; 
		margin-top: -160px;
	}*/

	.leaf-scene div {
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 20px;
	  height: 20px;
	  background: url(../images/confetti.svg) no-repeat;
	  background-size: 100%;
	  transform-style: preserve-3d;
	  backface-visibility: visible;
	}
	html, body {
		font-size: 16px;
	}
	iframe {
		border-radius: 25px;
		overflow: hidden;
	}

	.btn-wrapper {
		position: absolute;
		top: 808px;
		left: 37px;
		width: 1145px;
		height: 307px;
		background: none;
	}
	

	
	
	/*wave2*/
	
	.w-40 {
		width: 40%;
	}
	.bonus {
		font-size: 20px;
	}
	.item-name {
		font-size: 1rem;
		line-height: 20px;
	}
	.item-brand {
		font-size: 1rem;
		font-weight: 500;
		line-height: 20px;
	}
	.item-price {
		font-size: 30px;
		
	}

	.item-price.dollar-sign:before {
		font-family: 'Noto Sans TC';
		font-weight: 500;
		content: '$';
		/*font-size: 20px;*/
		color: #946d31;
	}

	.section-oneday .item-price.dollar-sign:before {
		content: '限時$';
	}

	.coming-soon {
		font-size: 2rem;
		letter-spacing: -1px;
	}
	
	#app {
		min-height: calc(100vh - 108px);
	}
	

	.cf-container {
		width: 100%;
		padding: 70px 0;
		background-color: #002842;
		position: relative;
	}
	/*.cf-container:before {
		content: '';
		display: block;
		width: calc(50vw - 600px);
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transform: translateX(-100%);
		background-color: #002842;
	}*/
	.btn-detail {
		position: absolute;
		top: 970px;
		left: 46px;
		width: 167px;
		height: 54px;
	}
	.btn-detail .btn {
		font-size: 16px;
		padding: 0.5rem 1rem;
	}
	
	.page-wrapper {
		width: 100%;
		/*min-height: calc(100vh - 120px);*/
		/*max-width: 1200px;*/
	}
	.wave-2 .content-wrapper {
		/*background: url(../images/grid-wave-2.jpg) no-repeat;*/
		/*background-size: cover;*/
	}
	.febuary .content-wrapper {
		/*background: url(../images/item-2.jpg) no-repeat;
		background-size: contain;
		padding-top: 100px;*/
	}
	.oneday .content-wrapper {
		/*background: url(../images/item-3.jpg) no-repeat;
		background-size: contain;
		padding-top: 190px;*/
	}
	.flower-container {
		position: absolute;
		width: 160px;
		height: 160px;
		animation: popup 0.5s ease-in forwards;
		animation-delay: 2s;
		transform: scale(0);
		top: 32%;
		left: 24.6%;
	}
	@keyframes popup {
		0% {
			transform: scale(0);
		}
		70% {
			transform: scale(1.1);
		}
		90% {
			transform: scale(0.95);
		}
		100% {
			transform: scale(1);
		}
	}


	.event-1 {
		width: 555px;
		height: 213px;
		position: absolute;
		right: 7.5%;
		top: 19.5%;
		animation-delay: .5s;
	}

	.event-2 {
		width: 472px;
		height: 198px;
		position: absolute;
		right: 12%;
		top: 43%;
		animation-delay: 1s;
	}
	.event-3 {
		width: 662px;
		height: 493px;
		position: absolute;
		left: 1%;
		bottom: -1%;
		animation-delay: 1.5s;
	}
	.scrollToTop {
		
		right: 10px;
		bottom: 10px;
		
	}
	
}


@media screen and (min-width: 1400px) {

	.container-item-app:before {
		content: '';
		display: block;
		width: 771px;
		height: 1021px;
		position: absolute;
		top: 200px;
		left: 0;
		/*background-image: url(../images/left-wheat.png);*/
		pointer-events: none;
		z-index: 0;
	}

	.container-item-app:after {
		content: '';
		display: block;
		width: 720px;
		height: 796px;
		position: absolute;
		top: -550px;
		right: 0;
		/*background-image: url(../images/right-wheat.png);*/
		pointer-events: none;
		z-index: 0;
	}

	
	
}

@media (min-width: 1920px) {
	.side-menu-wrapper-left {
		display: block;
		position: fixed;
		top: 50%;
		transform: translateY(-50%);
		/*left: calc(50vw + 660px);*/
		left: 40px;
		z-index: 9990;
		width: 140px;
		box-shadow: 0 5px 15px rgba(0,0,0,0.75);
	}
	.side-menu-wrapper-right {
		display: block;
		position: fixed;
		top: 50%;
		transform: translateY(-50%);
		/*left: calc(50vw + 660px);*/
		right: 40px;
		z-index: 9990;
		width: 140px;
		box-shadow: 0 5px 15px rgba(0,0,0,0.75);
	}
	.side-menu-header {
		padding-top: 130px;
		pointer-events: none;
		user-select: none;
	}
	.side-menu-header:before {
		content: '';
		display: block;
		width: 200px;
		height: 130px;
		background: url(../images/side-menu-header.png);
		position: absolute;
		top: 0;
		left: -30px;
		pointer-events: none;
		user-select: none;
	}
	body.blackfriday .side-menu-header:before {
		background: url(../images/side-menu-header-blackfriday.png);
	}
	.side-menu-body .custom-rounded-bottom {
		padding-bottom: 1rem!important;
		border-bottom-left-radius: 2rem;
		border-bottom-right-radius: 2rem;
	}
	.side-menu-wrapper-left .btn:hover,
	.side-menu-wrapper-right .btn:hover {
		/*color: #ef9c00!important;*/
	}
	.side-menu-wrapper-left .btn:focus,
	.side-menu-wrapper-right .btn:focus {
		box-shadow: none;
	}
	
	.side-menu-footer {
		cursor: pointer;
		transition: all .2s linear;
	}
	.side-menu-footer:hover {
		filter: brightness(120%);
	}


	.side-menu-group-1 {
		background-color: rgba(122, 24, 29, 0.95);
		border-bottom: 1px solid #e0af6d;
	}
	.side-menu-group-1 button {
		border-bottom: 1px dashed #e0af6d;
	}
	.side-menu-group-1 button:last-child {
		border-bottom: 0px dashed #e0af6d;
	}

	.side-menu-group-2,
	.side-menu-group-3 {
		background-color: rgba(50, 24, 23, 0.95);
		border-bottom: 1px solid #e0af6d;
	}
	.side-menu-group-2 button,
	.side-menu-group-3 button {
		color: #e4bc8c!important;
	}
	.side-menu-footer {
		background-color: rgba(50, 24, 23, 0.95);
	}
	.side-menu-footer button {
		color: #e4bc8c!important;
	}

	body.blackfriday .side-menu-group-1,
	body.blackfriday .side-menu-group-2,
	body.blackfriday .side-menu-group-3 {
		background-color: rgba(32, 32, 32, 0.95);
	}
}


@media all and (-ms-high-contrast:none)
{
 
 *::-ms-backdrop, body { height: 100%; } /* IE11 */
 *::-ms-backdrop, .d-flex { display: block!important; } /* IE11 */
 *::-ms-backdrop, .item-name {
 	height: 2.5rem;
 	/*overflow: hidden;*/
 	white-space: nowrap;
 	overflow-x: hidden;
 }

}

/*Turn off animate.css on mobile device*/
@media only screen and (max-width : 1200px) {
	.animate__animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}


.card-container {
	perspective: 1000px;
}

.flip-card {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform .5s;
  transform-style: preserve-3d;

  

  /*overflow: hidden;*/

  /*box-shadow: 0 4px 0 #fff;*/
}

.card-container.flip .flip-card {
  transform: rotateY(180deg); 
}


/* Position the front and back side */
.flip-card-front, .flip-card-back {
  /*padding: 30px;*/
  width: 100%;
  height: 100%;
  /*position: absolute;*/
  -webkit-backface-visibility: hidden; /* Safari */   
  backface-visibility: hidden; 
  /*border-radius: 20px*/
  border-top-left-radius: 4rem;
  border-bottom-right-radius: 4rem;
  border-top-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  overflow: hidden;
}

.flip-card-back .item-body {
	border-top-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  overflow: hidden;
}

@media (max-width: 768px) {
	.flip-card-front, .flip-card-back {
		border-top-left-radius: 1.5rem;
  	border-bottom-right-radius: 1.5rem;
  	border-top-right-radius: 0rem;
		border-bottom-left-radius: 0rem;
	}
	.flip-card-back .item-body {
		border-top-left-radius: 1rem;
	  border-bottom-right-radius: 1rem;
	}
}

.flip-card-back .item-inner {
	background-color: #7a181d;
}

.flip-card-front {
  position: absolute;
  overflow: hidden;
}

#oneDaySection .card-container:nth-child(odd) .flip-card-front {
	background-image: url(../images/flip-card-front-a.png);
  background-size: 100% 100%;	
}

#oneDaySection .card-container:nth-child(even) .flip-card-front {
	background-image: url(../images/flip-card-front-b.png);
  background-size: 100% 100%;	
}

.flip-card-back .item-brand,
.flip-card-back .item-name {
	color: #fff;
}

.flip-card-back .item-price,
.flip-card-back .item-price .price-type,
.flip-card-back .item-price .dollar-sign {
	color: #f5c557;
}

.flip-card-back .item-over {
	color: #f5c557;
	font-size: 1.25rem;
	line-height: 45px;
}

.flip-card-back {
  
  background-color: transparent;
  
  transform: rotateY(180deg);
}

.flip.flip-card-back {
	background-color: #7a181d;
}












.area{
    /*background: #ffeee7;  */
    /*background: -webkit-linear-gradient(to left, #ffdfd4, #ffdfd4);*/
    width: 100%;
    /*height:100vh;*/
    min-height: calc(100vh - 48px);
    position: fixed;
    top: 48px;
    left: 0;
    z-index: 110;
    pointer-events: none;
    user-select: none;
}

body.pre-event .area {
	display: none!important;
}
@media (max-width: 1280px) {
	.area {
		display: none!important;
	}
}



.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    /*background: rgba(255, 179, 146, 0.75);*/
    background-image: url(../images/coin-1.png);
    background-size: contain;

    animation: animate 5s linear infinite;
    top: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 80%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 20%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 85%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 100px;
    height: 100px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 15%;
    width: 90px;
    height: 90px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 90%;
    width: 70px;
    height: 70px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        /*transform: translateY(0) rotate3d(0, 0, 0, 0deg);*/
        opacity: 1;
        
    }
    80%{
        /*transform: translateY(750px) rotate(180deg);*/
        /*transform: translateY(2000px) rotate3d(1, 0, 1, 1440deg);*/
        opacity: 1;
        
    }
    100%{
        transform: translateY(1500px) rotate(360deg);
        /*transform: translateY(2000px) rotate3d(1, 0, 1, 1440deg);*/
        opacity: 0;
        
    }

}

@keyframes brightness {
  0%, 50%, 100% {
    filter: blur(0px) brightness(120%) drop-shadow(0 0 2.5px rgba(255, 255, 255, 0.1)) drop-shadow(0 0 5px rgba(255, 255, 255, 0.075)) drop-shadow(0 0 7.5px rgba(255, 255, 255, 0.045)) drop-shadow(0 0 10px rgba(255, 255, 255, 0.025));
  }
  25%, 75% {
    filter: blur(1px) brightness(50%) drop-shadow(0 0 2.5px rgba(255, 255, 255, 0.1)) drop-shadow(0 0 5px rgba(255, 255, 255, 0.075)) drop-shadow(0 0 7.5px rgba(255, 255, 255, 0.045)) drop-shadow(0 0 10px rgba(255, 255, 255, 0.025));
  }
}
@keyframes spin {
  0% {
    transform: rotateY(-180deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
.spinningasset {
	top: -200px;
  text-align: left;
  transition: all 0.4s ease-out;
  /*cursor: pointer;*/
  pointer-events: none;
  user-select: none;
  /*animation: brightness 2.5s infinite linear;*/
  animation: animate 6s linear infinite;
  position: absolute;
}

.spinningasset:nth-child(1){
    left: 5%;
    transform: scale(1);
    animation-delay: 0s;
}


.spinningasset:nth-child(2){
    left: 7.5%;
    transform: scale(0.5);
    animation-delay: 2s;
    animation-duration: 6s;
}

.spinningasset:nth-child(3){
    left: 10%;
    transform: scale(1.5);
    animation-delay: 4s;
}

.spinningasset:nth-child(4){
    left: 12.5%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 4s;
}

.spinningasset:nth-child(5){
    left: 15%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.spinningasset:nth-child(6){
    left: 95%;
    animation-delay: 3s;
}

.spinningasset:nth-child(7){
    left: 92.5%;
    animation-delay: 7s;
}

.spinningasset:nth-child(8){
    left: 90%;
    animation-delay: 15s;
    animation-duration: 5s;
}

.spinningasset:nth-child(9){
    left: 87.5%;
    animation-delay: 2s;
    animation-duration: 10s;
}

.spinningasset:nth-child(10){
    left: 85%;
    animation-delay: 0s;
    animation-duration: 8s;
}

.spinningasset.coin:nth-child(2) > div {
	width: 50px;
	height: 50px;

}
.spinningasset.coin:nth-child(3) > div {
	width: 60px;
	height: 60px;
}
.spinningasset.coin:nth-child(4) > div {
	width: 70px;
	height: 70px;
}
.spinningasset.coin:nth-child(5) > div {
	width: 80px;
	height: 80px;
}
.spinningasset.coin:nth-child(6) > div {
	width: 90px;
	height: 90px;
}
.spinningasset.coin:nth-child(7) > div {
	width: 55px;
	height: 55px;
}
.spinningasset.coin:nth-child(8) > div {
	width: 65px;
	height: 65px;
}
.spinningasset.coin:nth-child(9) > div {
	width: 75px;
	height: 75px;
}
.spinningasset.coin:nth-child(10) > div {
	width: 85px;
	height: 85px;
}


.spinningasset::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 8px;
  width: 11px;
  margin: auto;
  background-size: 100px 400%;
  background-position: center;
}
.spinningasset > div {
  position: relative;
  z-index: 2;
  perspective: 10000px;
  transform-style: preserve-3d;
  transform-origin: center;
  animation: spin 2.5s infinite linear;
}
.spinningasset > div > * {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: inherit;
  background-size: cover;
}
.spinningasset > div > div:first-child {
  transform: translateZ(-2px);
}
.spinningasset > div > div:last-child {
  transform: translateZ(2px);
  background-image: url(../images/Coins_side_front.svg);
  background-size: contain;
}
.spinningasset > div em {
  filter: blur(0.5px);
}
.spinningasset > div em:first-of-type {
  transform: translateZ(0px) rotateY(-6deg);
}
.spinningasset > div em:last-of-type {
  transform: translateZ(0px) rotateY(6deg);
}
.spinningasset > div i {
  filter: blur(0.5px);
}
.spinningasset > div i:nth-of-type(1) {
  transform: translateZ(-5px);
}
.spinningasset > div i:nth-of-type(2) {
  transform: translateZ(-4px);
}
.spinningasset > div i:nth-of-type(3) {
  transform: translateZ(-3px);
}
.spinningasset > div i:nth-of-type(4) {
  transform: translateZ(-2px);
}
.spinningasset > div i:nth-of-type(5) {
  transform: translateZ(-1px);
}
.spinningasset > div i:nth-of-type(6) {
  transform: translateZ(0px);
}
.spinningasset > div i:nth-of-type(7) {
  transform: translateZ(1px);
}
.spinningasset > div i:nth-of-type(8) {
  transform: translateZ(2px);
}
.spinningasset > div i:nth-of-type(9) {
  transform: translateZ(3px);
}
.spinningasset > div i:nth-of-type(10) {
  transform: translateZ(4px);
}
.spinningasset > div i:nth-of-type(11) {
  transform: translateZ(5px);
}
.spinningasset.is-sm {
  width: 24px;
  height: 24px;
  transform: scale(0.24);
  transform-origin: left top;
  filter: none;
}
.spinningasset.coin > div {
  width: 100px;
  height: 100px;
}
.spinningasset.coin > div > div:first-child {
  background-image: url(../images/Coins_side_back.svg);
  
  background-size: contain;
}
.spinningasset.coin > div > div:last-child, .spinningasset.coin > div::after,
.spinningasset.coin > div i,
.spinningasset.coin > div em {
  background-image: url(../images/Coins_side_back.svg);
  background-size: contain;
}




.parallax {
	position: relative;
	width: 100%;
	/*min-height: 180px;*/
	/*border-top: 5px solid #d39555;*/
	border-bottom: 5px solid #d39555;
	box-shadow: 
	0 0 10px 10px rgba(0, 0, 0, 0.5);

	margin-top: -150px;
	padding-top: 150px;
}



.parallax-rect {
	/*clip: rect(0, auto, auto, 0);*/
	/*clip-path: content-box;*/
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	/*min-height: 180px;*/
}


@media (min-width: 1920px) {
	.parallax {
		/*min-height: 360px;*/
		margin-top: -150px;
		padding-top: 150px;
	}
	.parallax-rect {
		/*min-height: 360px;*/
	}
}



.parallax-bg {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	transform: translateZ(0);
	will-change: transform;
	z-index: 1;
	/*filter: sepia(60%) opacity(80%) brightness(50%);*/
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	/*background-size: auto 217vw;*/
	transition: height 99999s linear;
	
}